<div id="bookContainer" th:fragment="bookContainer">

    <div class="list-group-item" th:each="book : ${books}" th:id="'bookContainer-' + ${book.id}">
        <div class="d-flex justify-content-between">
            <div>
                <p class="book-title" th:text="${book.title}"></p>
                <p class="book-author" th:text="'by ' + ${book.author}"></p>
                <p class="book-description" th:text="${book.description}"></p>
            </div>

            <form class="updateForm" th:action="@{/userBooks/addToList}" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <input type="hidden" name="bookId" th:value="${book.id}" />

                <div th:if="${not #arrays.contains(bookIds, book.id)}">
                    <button class="btn btn-primary" type="submit">Add to List</button>
                </div>

                <div th:if="${#arrays.contains(bookIds, book.id)}">

                    <div th:each="userBook : ${book.userBooks}">

                        <div th:if="${userBook.user.username == currentUser}">

                            <p>
                            <span th:class="(${userBook.status.toString()} == 'TO_READ' ? 'bullet-to-read' :
                                (${userBook.status.toString()} == 'IN_PROGRESS' ? 'bullet-in-progress' : 'bullet-read'))">
                                Status:
                            </span>

                            <span th:text="
                                (${userBook.status.toString()} == 'TO_READ' ? 'To Read' :
                                (${userBook.status.toString()} == 'IN_PROGRESS' ? 'In Progress' : 'Read'))"></span>
                            </p>
                        </div>
                    </div>

                    <div th:if="${book.id == addedBook}">
                        <div th:if="${successMessage}" class="message alert alert-success" th:text="${successMessage}"></div>
                        <div th:if="${errorMessage}" class="message alert alert-danger" th:text="${errorMessage}"></div>
                    </div>
                </div>
            </form>
        </div>

        <div th:with="hasReviews=${book.userBooks != null and not #lists.isEmpty(book.userBooks) and #lists.size(book.userBooks.?[review != null and review != '']) > 0}">

            <div th:if="${hasReviews}">

                <div class="row">
                    <div class="col-auto" th:with="reviewCount=${#lists.size(book.userBooks.?[review != null and review != ''])}">
                        <h6 class="fw-bold text-primary center">Book Reviews (<span th:text="${reviewCount}"></span>)</h6>
                    </div>

                    <div class="col">
                        <a href="#" class="text-secondary" data-bs-toggle="collapse"
                           th:data-bs-target="'#collapseReviews' + ${book.id}"
                           aria-expanded="false"
                           th:aria-controls="'collapseReviews' + ${book.id}"
                           onclick="toggleChevron(this)">

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="icon-tabler icon-tabler-chevron-up chevron-icon chevron-up" style="display: none;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M6 15l6 -6l6 6"/>
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="icon-tabler icon-tabler-chevron-down chevron-icon chevron-down">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M6 9l6 6l6 -6"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div th:if="${not hasReviews}">
                <h6 class="fw-bold text-primary">No reviews yet</h6>
            </div>

            <div th:id="'collapseReviews' + ${book.id}" class="collapse">
                <div th:each="userBook : ${book.userBooks}" th:id="'userBookContainer-' + ${userBook.id}" style="padding-top: 4px">
                    <div th:if="${userBook.review != null and userBook.review != ''}" style="padding-top: 6px">
                        <div class="card shadow-sm border-0 bg-light p-3">
                            <h6 class="fw-bold text-primary" th:text="${userBook.user.username}"></h6>
                            <p class="mb-0 text-muted" th:text="${userBook.review}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>