<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Library</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script th:src="@{/js/script.js}" defer></script>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>

    <body>
        <div class="container">

            <h1>Book Library</h1>

            <ul class="nav nav-tabs" id="tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="all-books-tab" data-bs-toggle="tab" data-bs-target="#all-books-tab-pane" type="button" role="tab" aria-controls="all-books-tab-pane" aria-selected="true">Library</button>
                </li>
                
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="my-books-tab" data-bs-toggle="tab" data-bs-target="#my-books-tab-pane" type="button" role="tab" aria-controls="my-books-tab-pane" aria-selected="false">My Books</button>
                </li>

                <li class="nav-item ml-auto" sec:authorize="hasRole('ADMIN')">
                    <button class="nav-link" id="create-book-tab" data-bs-toggle="tab" data-bs-target="#create-book-tab-pane" type="button" role="tab" aria-controls="create-book-tab-pane" aria-selected="false">Create</button>
                </li>

                <li class="nav-item ml-auto">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>

                <li class="nav-item ms-auto" style="display: flex; align-items: center;">
                    Welcome, <span th:text="${currentUser}" style="margin-left: 4px;"></span>
                </li>
            </ul>
            
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="all-books-tab-pane" role="tabpanel" aria-labelledby="all-books-tab" tabindex="0">
                    <h2 class="mb-4">All Books</h2>

                    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
                    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

                    <div class="list-group">
                        <div th:replace="~{fragments/bookList :: bookContainer}"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="my-books-tab-pane" role="tabpanel" aria-labelledby="my-books-tab" tabindex="0">
                    <div th:replace="~{fragments/userBookList :: userBookContainer}"></div>
                </div>
                <div class="tab-pane fade" id="create-book-tab-pane" role="tabpanel" aria-labelledby="create-book-tab" tabindex="0">
                    <div th:replace="~{fragments/createBook :: createBookContainer}"></div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
