<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <title>Library</title>

        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <script>
            $(document).ready(function() {

                $(document).on('submit', '.updateForm', function(event) {
                    event.preventDefault();

                    var form = $(this);
                    var url = form.attr('action');
                    var data = form.serialize();
                    var csrfToken = $('input[name="_csrf"]').val();
                    var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },
                        success: function(response) {
                            $('#bookContainer').replaceWith($(response).filter('#bookContainer'));

                            setTimeout(function(){
                                $('.alert-success').fadeOut('slow', function(){
                                    $(this).remove();
                                });
                            }, 200);
                        }
                    });
                });

                $(document).on('submit', '.updateUserBookForm', function(event) {
                    event.preventDefault();

                    var form = $(this);
                    var url = form.attr('action');
                    var data = form.serialize();
                    var csrfToken = $('input[name="_csrf"]').val();
                    var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },
                        success: function(response) {
                            $('#userBookContainer').replaceWith($(response).filter('#userBookContainer'));

                            setTimeout(function(){
                                $('.alert-success').fadeOut('slow', function(){
                                    $(this).remove();
                                });
                            }, 200);
                        }
                    });
                });

                $('#my-books-tab').click(function(event) {
                    event.preventDefault();

                    var csrfToken = $('input[name="_csrf"]').val();
                    var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

                    $.ajax({
                        type: 'GET',
                        url: '/library/geMyBooks',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },
                        success: function(response) {
                            $('#userBookContainer').replaceWith($(response).filter('#userBookContainer'));
                        },
                        error: function(error) {
                            console.error("Eroare AJAX:", error);
                        }
                    });
                });

                $('#all-books-tab').click(function(event) {
                    event.preventDefault();

                    var csrfToken = $('input[name="_csrf"]').val();
                    var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

                    $.ajax({
                        type: 'GET',
                        url: '/library/refresh',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },
                        success: function(response) {
                            $('#bookContainer').replaceWith($(response).filter('#bookContainer'));
                        },
                        error: function(error) {
                            console.error("Eroare AJAX:", error);
                        }
                    });
                });

            });
        </script>

        <style>
            body {
                background-color: #f8f9fa;
                padding-top: 30px;
            }

            .container {
                max-width: 1200px;
            }

            .book-card {
                margin-bottom: 20px;
            }

            .progress-bar {
                margin-top: 10px;
            }

            h1 {
                text-align: center;
                margin-bottom: 20px;
            }

            .book-title {
                font-size: 1.25rem;
                font-weight: bold;
            }

            .book-author {
                font-size: 1rem;
                color: #6c757d;
            }

            .book-description {
                font-size: 0.875rem;
                color: #343a40;
            }

            .nav-tabs {
                margin-bottom: 20px;
            }

            .message {
                text-align: center; position: absolute; z-index: 10; left: 0; top:0; width: 100%;
            }

            .center { display: flex; align-items: center; height: 100%; }

            .bullet-to-read {
                color: orange;
                font-weight: bold;
            }

            .bullet-in-progress {
                color: blue;
                font-weight: bold;
            }

            .bullet-read {
                color: green;
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        <div class="container">

            <h1>Book Library</h1>

            <ul class="nav nav-tabs" id="tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="all-books-tab" data-bs-toggle="tab" data-bs-target="#all-books-tab-pane" type="button" role="tab" aria-controls="all-books-tab-pane" aria-selected="true">Library</button>
                </li>
                
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="my-books-tab" data-bs-toggle="tab" data-bs-target="#my-books-tab-pane" type="button" role="tab" aria-controls="my-books-tab-pane" aria-selected="false">My Books</button>
                </li>

                <li class="nav-item ml-auto">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>

                <li class="nav-item ms-auto" style="display: flex; align-items: center;">
                    Welcome, <span th:text="${currentUser}" style="margin-left: 4px;"></span>
                </li>

            </ul>
            
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="all-books-tab-pane" role="tabpanel" aria-labelledby="all-books-tab" tabindex="0">
                    <h2 class="mb-4">All Books</h2>

                    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
                    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

                    <div class="list-group">
                        <div th:replace="~{fragments/bookList :: bookContainer}"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="my-books-tab-pane" role="tabpanel" aria-labelledby="my-books-tab" tabindex="0">
                    <div th:replace="~{fragments/userBookList :: userBookContainer}"></div>
                </div>
            </div>
        </div>

        <script>
            function toggleChevron(element) {
                const chevronUp = element.querySelector('.chevron-up');
                const chevronDown = element.querySelector('.chevron-down');

                if (chevronUp.style.display === 'none') {
                    chevronUp.style.display = 'inline';
                    chevronDown.style.display = 'none';
                } else {
                    chevronUp.style.display = 'none';
                    chevronDown.style.display = 'inline';
                }
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
